export(cluster_pam)
export(cluster_Skmeans)
export(cluster_other)
import("mclust")
importFrom("sva", "ComBat")
importFrom("vsn", "vsn2")
importFrom("preprocessCore", "normalize.quantiles")
importFrom("cluster", "pam")
importFrom("fpc", "cluster.stats")
importFrom("sparcl", "KMeansSparseCluster.permute", "KMeansSparseCluster")
importFrom("som", "som")
importFrom("stats", "cor", "dist", "kmeans", "median", "model.matrix","sd")
